<app-buttons
  [scopeCategorias]="scope.categorias"
  (reloadEmitter)="preencheTable()"
></app-buttons>
<table class="table table-hover" id="listaDeContatos">
  <thead class="thead-dark">
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkAll" />
          <label class="custom-control-label" for="checkAll"></label>
        </div>
      </th>
      <th>Id</th>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>

  <tr
    *ngFor="let c of scope.categorias; let i = index"
    scope="row"
    class="testelm"
  >
    <td>
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="checkAll{{ i }}"
          [(ngModel)]="c.checked"
        />
        <label class="custom-control-label" for="checkAll{{ i }}"></label>
      </div>
    </td>
    <td>{{ c.id }}</td>
    <td>{{ c.descricao }}</td>
    <td>{{ c.status === 1 ? true : false }}</td>
  </tr>
</table>
