<form>
  <div class="form-group">
    <label>Descrição</label>
    <input
      [(ngModel)]="scope.descricao"
      type="text"
      class="form-control"
      name="descricao"
      [disabled]="isView"
    />
  </div>
  <div class="form-group form-check">
    <div class="custom-control custom-checkbox">
      <input
        type="checkbox"
        class="custom-control-input"
        name="status"
        id="checkAll"
        [(ngModel)]="scope.status"
        [disabled]="isView"
      />
      <label class="custom-control-label" for="checkAll">Status</label>
    </div>
  </div>
</form>

<app-buttons-form
  [isView]="isView"
  [scopeCategorias]="scope"
></app-buttons-form>
