div.menu ul.ulMenu li.liMenu {
  display: inline-block;
}
img#colap {
  cursor: pointer;
}
div.mobileMenu {
  background: #00c573;
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 9999;
}
div.menuPai {
  padding-bottom: 54px;
}
div#listaMobile {
  background-color: #02c584;
  margin-top: 54px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
@media (min-width: 551px) {
  div.mobileMenu {
    display: none;
  }
}
div.menu {
  background: #00c573;
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 9999;
}
@media (max-width: 550px) {
  div.menu {
    display: none;
  }
}
ul.ulMenu {
  list-style-type: none;
  display: inline;
  margin-left: -55px;
}
@media (max-width: 550px) {
  ul.ulMenu li.liMenu {
    margin-bottom: 20px;
  }
}
ul.ulMenu li.liMenu a.aMenu {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}
ul.ulMenu li.liMenu a.aMenu:hover {
  background: #00ac56;
  transition-duration: 0.55s;
}
@media (max-width: 550px) {
  ul.ulMenu li.liMenu {
    width: 100%;
  }
}
