<table class="table table-hover" id="listaDeContatos">
  <thead>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkAll" />
          <label class="custom-control-label" for="checkAll"></label>
        </div>
      </th>
      <th *ngFor="let c of scope.colunasCategorias" [hidden]="!c.show">
        <span [hidden]="!c.show">{{ c.nome }}</span>
      </th>
    </tr>
  </thead>

  <tr
    *ngFor="let c of scope.categorias; let i = index"
    scope="row"
    class="testelm"
    ng-show="scope.categorias"
  >
    <td>
      <div class="custom-control custom-checkbox">
        <div
          ngbDropdown
          role="group"
          aria-label="Checkbox with nested dropdown"
        >
          <input
            type="checkbox"
            class="custom-control-input"
            id="checkAlla{{ i }}"
            [(ngModel)]="c.checked"
            ngbDropdownToggle
          />
          <label class="custom-control-label" for="checkAlla{{ i }}"></label>
          <div class="dropdown-menu" ngbDropdownMenu>
            <app-buttons
              [scopeCategorias]="scope"
              (reloadEmitter)="preencheTable()"
              [static]="false"
            ></app-buttons>
          </div>
        </div>
      </div>
    </td>
    <td [hidden]="!scope.colunasCategorias[0].show">{{ c.id }}</td>
    <td [hidden]="!scope.colunasCategorias[1].show">{{ c.descricao }}</td>
    <td [hidden]="!scope.colunasCategorias[2].show">
      {{ c.status ? "Ativo" : "Inativo" }}
    </td>
  </tr>
</table>

<div
  *ngIf="scope.categorias.length === 0 && keyLoad"
  class="alert alert-danger"
  role="alert"
>
  Não foi possível encontrar registros!
</div>
<app-pre-loading *ngIf="!keyLoad"></app-pre-loading>
